build
bin
gen
.svn
local.properties
/*/build.xml
/*/tests/build.xml
.DS_Store
.settings
proguard
*/usage.txt
*/dump.txt

# Android Studio
.idea
!/.idea/codeStyleSettings.xml
.gradle
*.iws
*.iml

/.metadata/
